@use "@/styles/_media.scss" as media;

.links_title {
  font-size: x-small;
}

.dark {
  $color: var(--theme-dark-secondary-color);
  .links_title {
    color: $color;
  }
  a {
    &:hover {
      color: $color;
    }
  }
}

.light {
  $color: var(--theme-light-secondary-color);

  .links_title {
    color: $color;
  }
  a {
    &:hover {
      color: $color;
    }
  }
}

@include media.medium {
}

@include media.small {
}
