@use "@/styles/_media.scss" as media;

.wrapper {
  margin-block-start: calc(100svh / 3);
  display: flex;
  margin: 0;
  padding: 0;
  gap: 2ch;
}

.item {
  margin: 0;
  padding: 0;
  list-style: none;
}
@include media.medium {
}

@include media.small {
}
