@use "@/styles/_media.scss" as media;

.wrapper {
  display: flex;
  padding: 0;
  gap: 2ch;
  margin-block-start: 30svh;
}

.item {
  margin: 0;
  padding: 0;
  list-style: none;

  a {
    color: var(--gray-color);
    &[aria-current="page"] {
      color: var(--color-primary);
    }
  }
}
@include media.medium {
}

@include media.small {
}
