@use "@/styles/_media.scss" as media;

.wrapper {
  display: flex;
  margin: 0;
  padding: 0;
  gap: calc(var(--px-small) / 1.5);
  gap: 2ch;
}

.item {
  margin: 0;
  padding: 0;
  list-style: none;
}
@include media.medium {
}

@include media.small {
}
