@use "@/styles/_media.scss" as media;

$tagheight: calc(3 * var(--px-small));

.item {
  z-index: 1;
  margin: 0;
  block-size: 100%;
  overflow: hidden;
  font-size: 1.65rem;

  a {
    inline-size: 100%;
    block-size: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--px-tiny);
  }
}

.video_container {
  inline-size: 100%;
  block-size: calc(100% - $tagheight);
  flex-shrink: 0;
  flex-grow: 0;
  video {
    object-fit: cover;
  }
}

.info {
  line-height: 1;
  block-size: $tagheight;
  flex-shrink: 0;
  flex-grow: 0;
}

@include media.medium {
}

@include media.small {
}
