@use "@/styles/_media.scss" as media;

$tagheight: var(--px-medium);

.item {
  display: flex;
  flex-direction: column;
  z-index: 1;
  block-size: 100%;
  overflow: hidden;
  margin: 0;
  font-size: 1.65rem;

  a {
    block-size: 50%;
    inline-size: 100%;
  }

  video {
    block-size: 100%;
    inline-size: 100%;
    object-fit: cover;
  }
}

.info {
  block-size: 500px;
  display: flex;
  flex-direction: row;
  gap: 1ch;
  line-height: 1;
}

.h {
  aspect-ratio: 16 / 10;
}

.v {
  aspect-ratio: 12 / 16;
}

@include media.medium {
}

@include media.small {
}
