@use "@/styles/_media.scss" as media;

.wrapper {
  display: flex;
  position: sticky;
  right: 0;
  bottom: 0;
  left: 0;
  gap: 2ch;
  z-index: -1;
  background-color: black;
  padding-inline: var(--px-medium);
  padding-block: var(--px-small);
  block-size: 500px;
  color: white;
  font-size: 0.875em;
}

@include media.medium {
}

@include media.small {
}
