@use "@/styles/_media.scss" as media;

.links_title {
  color: rgba(255, 255, 255, 0.5);
  font-size: x-small;
}

.links {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  a {
    font-weight: 300;
    font-size: 1.225rem;
    line-height: 1.15;
  }
}

@include media.medium {
}

@include media.small {
}
