@use "@/styles/_media.scss" as media;

.wrapper {
  $size: var(--px-medium);
  margin-inline-start: calc(-1 * $size);
  background-color: var(--primary-color);
  padding: $size;
  inline-size: calc(100svw + $size);
  color: var(--theme-dark-secondary-color);
}

.right {
  inline-size: 100%;
  font-size: 1rem;
  line-height: 1.15;
}

@include media.medium {
}

@include media.small {
  .wrapper {
    $size: var(--px-small);
    inline-size: calc(100svw + $size);
    padding-block: $size;
  }
}
