@use "@/styles/_media.scss" as media;

.wrapper {
  position: sticky;
  bottom: 0;
  margin-inline-start: calc(-1 * var(--px-medium));
  background-color: var(--primary-color);
  padding: var(--px-medium);
  inline-size: calc(100svw + var(--px-medium));
  min-block-size: 25svh;
  color: var(--theme-dark-secondary-color);
}

.right {
  inline-size: 100%;
  font-size: 1rem;
  line-height: 1.15;
}

@include media.medium {
}

@include media.small {
  .wrapper {
    position: relative;
  }
}
