@use "@/styles/_media.scss" as media;

.wrapper {
  position: fixed;
  bottom: 0;
  margin-inline-start: calc(-1 * var(--px-medium));
  inline-size: calc(100svw + var(--px-medium));
  background-color: var(--primary-color);
}

@include media.medium {
}

@include media.small {
}
