@use "@/styles/_media.scss" as media;

.wrapper {
}

.container {
  block-size: calc(var(--block-height-base) * 1.5);
  inline-size: 100%;
  margin-inline: auto;
}

@include media.medium {
}

@include media.small {
  .container {
    block-size: calc(var(--block-height-base));
  }
}
