@use "@/styles/_media.scss" as media;

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-block: var(--px-medium);
  min-block-size: calc(100svh - media.$headersize);
}

.container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  block-size: 100%;
}

.text {
  margin-inline-end: var(--px-medium);
  max-inline-size: 60ch;
}

.contacts {
  margin-block-start: var(--px-big);
}

.big_link {
  margin-block-start: var(--px-small);
}

@include media.medium {
}

@include media.small {
  .wrapper {
    padding-block-start: var(--px-medium);
  }

  .container {
    justify-content: flex-start;
    block-size: auto;
  }

  .double_container {
    gap: var(--px-small);
  }

  .text {
    margin-inline-end: auto;
    inline-size: 100%;
    max-inline-size: none;
  }

  .contacts {
    margin-block-start: var(--px-small);
    margin-block-end: var(--px-medium);
  }
}
