@use "@/styles/_media.scss" as media;

.wrapper {
  // margin-block-start: max(var(--px-big), 25svh);
  min-block-size: calc(100svh - media.$headersize);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  flex-grow: 1;
  block-size: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text {
  max-inline-size: 60ch;
  margin-inline-end: var(--px-medium);
}

.contacts {
  margin-block-start: var(--px-big);
}

.big_link {
  margin-block-start: var(--px-small);
}

@include media.medium {
}

@include media.small {
  .double_container {
    gap: var(--px-big);
  }

  .text {
    inline-size: 100%;
    max-inline-size: none;
    margin-inline-end: auto;
  }
}
