@use "@/styles/_media.scss" as media;

$tagheight: calc(3.5 * var(--px-small));

.item {
  z-index: 1;
  margin: 0;
  block-size: 100%;

  a {
    display: flex;
    flex-direction: column;
    gap: var(--px-tiny);
    inline-size: 100%;
    block-size: 100%;
  }
}

.video_container {
  position: relative;
  flex-grow: 0;
  flex-shrink: 0;
  inline-size: 100%;
  block-size: 20svw;

  video {
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
  }

  img {
    display: inline-flex;
    border: 0;
    object-fit: cover;
  }
}

.info {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  margin: 0;
  inline-size: 100%;
  font-weight: 300;

  > div {
    flex: 1 1 100%;
    min-width: 0;
  }

  h2 {
    display: flex;
    overflow: hidden;
    font-size: 1.5rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 1;
    margin: 0;
  }
}

@include media.medium {
}

@include media.small {
  .video_container {
    block-size: auto;
    max-block-size: 70svh;

    img {
      position: relative !important;
      height: calc(100% - 2px) !important;
    }
  }
}
