@use "@/styles/_media.scss" as media;

.wrapper {
  display: flex;
}

.double_column {
  flex: 2;

  > :nth-child(1) {
    inline-size: 50%;
  }

  > :nth-child(2) {
    inline-size: 50%;
  }
}

.screen_height {
  block-size: 100svh;
  justify-content: center;
  flex-direction: column;
}

@include media.medium {
}

@include media.small {
}
