@use "@/styles/_media.scss" as media;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  inline-size: 100%;
  text-transform: uppercase;
}

.nav {
  display: flex;
  gap: 1rem;
}

@include media.medium {
}

@include media.small {
}
