@use "@/styles/_media.scss" as media;

$tagheight: calc(3.5 * var(--px-small));

.wrapper {
  margin-block-end: 1.5rem;
  &:last-of-type {
    margin-block-end: var(--px-small);
  }
}

.item {
  margin: 0;
  block-size: 100%;
  overflow: hidden;
  list-style: none;

  a {
    display: flex;
    flex-direction: column;
    gap: var(--px-tiny);
    inline-size: 100%;
    block-size: 100%;
  }
}

.video_container {
  position: relative;
  flex-grow: 0;
  flex-shrink: 0;
  inline-size: 100%;
  block-size: 20svw;

  video {
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
  }

  img {
    display: block;
    border: 0;
    object-fit: cover;
  }
}

// .info {
//   display: flex;
//   margin: 0;
//   inline-size: 100%;
//   font-weight: 300;
//   min-block-size: 4rem;

//   h2 {
//     margin: 0;
//     // overflow: hidden;
//     text-overflow: ellipsis;
//     // white-space: nowrap;
//   }
// }

// .info {
//   display: flex;
//   margin: 0;
//   inline-size: 100%;
//   font-weight: 300;
//   margin-block-end: 2rem;

//   h2 {
//     margin: 0;
//     // overflow: hidden;
//     text-overflow: ellipsis;
//     // white-space: nowrap;
//   }
// }

$base_font_size: 1.08vw;

.info {
  display: flex;
  margin: 0;
  inline-size: 100%;
  font-weight: 300;

  h2 {
    display: -webkit-box;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* Limite à deux lignes */
    line-clamp: 2;
    font-size: calc(1.625 * $base_font_size);
  }
}

@include media.medium {
}

@include media.small {
  .wrapper {
    margin-block-end: var(--px-small);
  }

  .video_container {
    block-size: 50svh;
    overflow: hidden;

    img {
      position: relative !important;
    }
  }

  .info {
    h2 {
      font-size: 1.2rem;
      white-space: normal;
    }
  }
}
