@use "@/styles/_media.scss" as media;

.wrapper {
  overflow: hidden;

  mux-player {
    --live-button: none;
    --seek-backward-button: none;
    --seek-forward-button: none;
    --captions-button: none;
    --airplay-button: none;
    --pip-button: none;
    --cast-button: none;
    --playback-rate-button: none;
    --time-display: none;
    --duration-display: none;
  }
}

.playing {
  mux-player {
    --media-object-fit: contain;
  }
}

.player {
  block-size: 100%;
  inline-size: 100%;
  object-fit: cover;
  overflow: hidden;
}

@include media.medium {
}

@include media.small {
}
