@use "@/styles/_media.scss" as media;

.wrapper {
  overflow: hidden;

  .player {
    block-size: 100%;
    inline-size: 100%;
    object-fit: cover;
    overflow: hidden;
  }

  mux-player {
    --live-button: none;
    --seek-backward-button: none;
    --seek-forward-button: none;
    --captions-button: none;
    --airplay-button: none;
    --pip-button: none;
    --cast-button: none;
    --playback-rate-button: none;
    // --time-range: none;
    --time-display: none;
    --duration-display: none;
    // --rendition-selectmenu: none;
    // --media-control-background: none;
  }

  mux-player::part(poster) {
    --media-object-fit: cover;
  }

  mux-player::part(video) {
    --media-object-fit: contain;
  }

  mux-player::part(center play button pre-play) {
    --media-control-background: transparent;
    --media-range-bar-color: white;
  }

  //   mux-player::part(bottom time range) {
  //     --media-range-bar-color: red;
  //   }
}

@include media.medium {
}

@include media.small {
}
