@use "@/styles/_media.scss" as media;

.wrapper {
  max-block-size: 100svh;

  mux-player {
    --live-button: none;
    --seek-backward-button: none;
    --seek-forward-button: none;
    --mute-button: none;
    --captions-button: none;
    --airplay-button: none;
    --pip-button: none;
    --fullscreen-button: none;
    --cast-button: none;
    --playback-rate-button: none;
    --volume-range: none;
    --time-range: none;
    --time-display: none;
    --duration-display: none;
    --rendition-selectmenu: none;
    --media-control-background: none;
  }

  mux-player::part(center play button pre-play) {
    --media-control-background: transparent;
  }
}

@include media.medium {
}

@include media.small {
}
