@use "@/styles/_media.scss" as media;

.small_grid {
  display: grid;
  margin-block-start: var(--px-big);
  grid-template-columns: repeat(auto-fill, minmax(max(250px, 5svw), 1fr));
  gap: var(--px-medium);
}

@include media.medium {
}

@include media.small {
  .small_grid {
    gap: var(--px-small);
  }
}
