@use "@/styles/_media.scss" as media;

.small {
  display: grid;
  grid-template-columns: repeat(2, max(200px, 5svw));
  gap: var(--px-medium);
  align-items: first baseline;
}

@include media.medium {
}

@include media.small {
  .small {
    gap: var(--px-small);
  }
}
