@use "@/styles/_media.scss" as media;

.small {
  display: grid;
  grid-template-columns: repeat(auto-fill, max(250px, 5svw));
  gap: var(--px-medium);
}

@include media.medium {
}

@include media.small {
  .small {
    gap: var(--px-small);
  }
}
