@use "@/styles/_media.scss" as media;

.wrapper {
  margin-top: calc(20svh - var(--px-medium));
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

@include media.medium {
}

@include media.small {
}
