@use "@/styles/_media.scss" as media;

.wrapper {
  block-size: calc(50svh - 53.632px);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

@include media.medium {
}

@include media.small {
}
