@use "@/styles/_media.scss" as media;

.item {
  flex-shrink: 0;
  z-index: 1;
  block-size: 100%;
  overflow: hidden;
  margin: 0;

  a,
  > div {
    block-size: 100%;
    inline-size: 100%;
  }

  video,
  .video {
    block-size: 100%;
    inline-size: 100%;
    object-fit: cover;
  }
}

.h {
  aspect-ratio: 16 / 10;
}

.v {
  aspect-ratio: 12 / 16;
}

@include media.medium {
}

@include media.small {
}
