@use "@/styles/_media.scss" as media;

.image {
  width: 100%;
  height: auto;
  display: flex;
}

.gallery_image_container {
  height: 100%;
  object-fit: cover;
}

.gallery_image {
  width: 100%;
  object-fit: cover;
}

@include media.medium {
}

@include media.small {
}
