@use "@/styles/_media.scss" as media;

.main {
  display: grid;
  position: relative;
  z-index: 2;
  background-color: white;
  padding-inline: var(--px-small);
  grid-gap: var(--px-small);
  grid-template-columns: minmax(0, 1fr);
}

@include media.medium {
}

@include media.small {
}
