@use "@/styles/_media.scss" as media;

.main {
  padding-inline: var(--px-small);
  position: sticky;
  top: 0;
  z-index: 0;
  margin-bottom: 500px;
}

@include media.medium {
}

@include media.small {
}
