@use "@/styles/_media.scss" as media;

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--px-medium);

  img  {
    width: 100%;
  }
}
@include media.medium {
}

@include media.small {
}
