@use "@/styles/_media.scss" as media;

.wrapper {
  display: grid;
  column-gap: var(--px-small);
  grid-template-columns: repeat(2, 1fr);

  :first-child {
    padding: var(--px-medium);
  }

  :last-child {
    inline-size: 100%;
  }
}
@include media.medium {
}

@include media.small {
}
