@use "@/styles/_media.scss" as media;

.wrapper {
  display: grid;
  column-gap: var(--px-small);
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto; // Update the grid-template-rows property to have two rows
  grid-template-areas: "left" "right";

  > :first-child {
    grid-area: left;
    padding: var(--px-big);
  }

  > :last-child {
    grid-area: right;
  }
}
@include media.medium {
}

@include media.small {
}
