@use "@/styles/_media.scss" as media;
.wrapper {
  font-size: 1.25rem;
  line-height: 1.5;
  min-block-size: max(600px, 17svw);

  > * {
    margin-inline: auto;
  }
}
@include media.medium {
}

@include media.small {
}
